@font-face {
  font-family: 'Lato', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap);
}

body{
  font-family: 'Lato', sans-serif;
  background: #999;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.messageImage {
  max-width: 300px;
  border-radius: 4px;
}

.userImage {
  width: 36px;
}